<%# TODO: figure out how to do this properly %>
<%= content_tag :div, "", id: "key", data: @google_maps_platform_api_key %>
<style>
  #map {
      height: 400px;
      width: 100%;
  }
</style>

<div id="map"></div>
